@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h5>@Model.Message</h5>
</div>

@foreach(var emp in Model.EmployeeList){
    //Add the code to loop through and display whatever we wnat for the Employee List
}

@foreach(var dept in Model.Departments){
    //Do whatever want here for the Departments Data
}
